.user-list {
  margin-top: 70px;
}
.user-item {
  padding: 10px 20px;
  border: 1px solid lightgray;
  max-width: 260px;
  text-align: left;
  position: relative;
  margin: 0 20px 5px auto;
  box-shadow: 0 0 2px 0 rgb(0 0 0 / 12%), 0 2px 4px 0 rgb(0 0 0 / 22%);
  font-weight: 400;
  cursor: pointer;
}
.user-item:hover,
.user-item.selected {
  background-color: darkcyan;
  color: #fff;
  font-weight: 600;
}
.user-item:hover .posts-number,
.user-item.selected .posts-number {
  border-color: white;
  color: white;
}
.posts-number {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  border: 1px solid gray;
  width: 34px;
  height: 34px;
  padding: 4px;
  text-align: center;
  color: black;
}
