.header {
  display: flex;
  justify-content: flex-end;
}
.nav-link {
  color: darkcyan !important;
  font-weight: 500;
}
.nav-link:hover {
  color: darkcyan !important;
  text-decoration: underline;
}
